
// Import The Archive @font-face

html, body{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Archiveimport;
  font-weight: bold;
  src: url("Archive.otf") format("opentype"); }

/**

.landing{
  margin-left: 20%; //margin left must be += to sidebard width;
  background-color: #fff;
  width:80%;
  height: 100vh;
  border: 1px solid black;
}

**/
