
// Import The Archive @font-face

html, body{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@font-face {
  font-family: Archiveimport;
  font-weight: bold;
  src: url("Archive.otf") format("opentype"); }

  @font-face {
    font-family: Lato;
    font-weight: normal;
    src: url("fonts/Lato-Light.ttf") format("opentype");
  }

  @font-face {
    font-family: Quicksand;
    font-weight: normal;
    src: url("fonts/Quicksand-Regular.ttf") format("opentype");
  }


.lato{
  font-family: Lato;
}

.quicksand{
  font-family: Quicksand;
}
