.footer {
  height: 300px;
  width: 100vw;
  padding: 50px 0 0 50px; }
  .footer .content {
    transform: translateX(10%); }
    .footer .content h1 {
      font-family: Lato; }
    .footer .content p {
      font-family: Lato; }

.container-row {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: #19c29547;
  text-align: center;
  padding-top: 50px; }
  .container-row #container-image {
    float: left;
    width: 34%; }
    .container-row #container-image img {
      width: 375px;
      border-radius: 300px;
      margin-bottom: 50px; }
  .container-row #container-content {
    float: left;
    width: 66%;
    text-align: left; }
    .container-row #container-content h2 {
      font-family: Lato;
      font-size: 3rem;
      font-weight: 500;
      width: 45%; }
    .container-row #container-content p {
      font-family: Quicksand;
      width: 80%;
      font-size: 1.5rem; }
    .container-row #container-content .button-group {
      margin-left: 7%; }
      .container-row #container-content .button-group button {
        font-family: Quicksand;
        border: none;
        background-color: #111;
        border-radius: 25px;
        margin: 0 1%; }
        .container-row #container-content .button-group button a {
          text-decoration: none;
          color: white;
          display: block;
          padding: 10px 50px; }
          .container-row #container-content .button-group button a:hover {
            font-weight: bold; }

.container {
  overflow: hidden;
  height: 35vh;
  width: 100%; }
  .container h2 {
    font-family: quicksand; }
  .container .project-section-heading {
    transform: translateX(15%); }
  .container ul {
    max-width: 1000px;
    margin: 50px auto; }
    .container ul li {
      display: inline-block;
      text-align: center;
      margin: 0 15px; }
      .container ul li img {
        height: 254px;
        width: 254px; }
      .container ul li p {
        font-family: Lato; }
        .container ul li p a, .container ul li p a:active {
          text-decoration: underline;
          color: inherit; }

.card-container {
  width: 1000px;
  margin: auto;
  font-family: quicksand; }
  .card-container .card {
    border: 4px solid #eee;
    border-radius: 30px;
    width: 450px;
    float: left;
    text-align: center;
    margin: 10px 12.5px;
    padding: 15px 0; }
    .card-container .card img {
      width: 300px;
      height: 300px; }

#container-image img {
  width: 375px;
  border-radius: 20%; }

#quote {
  overflow: hidden;
  min-height: 15vh;
  width: 100%;
  padding: 100px 0; }
  #quote h1 {
    text-align: center;
    font-family: Lato;
    margin: 0 15%; }
  #quote p {
    text-align: center;
    font-family: Lato; }
  #quote hr {
    margin-top: 75px;
    background-color: black;
    border: none;
    height: 1px;
    width: 150px; }

.skills-container {
  overflow: hidden;
  height: 35vh;
  width: 100%; }
  .skills-container .skills {
    margin-top: 45px;
    padding-bottom: 50px;
    text-align: center;
    font-family: Lato; }
    .skills-container .skills hr {
      width: 175px;
      background-color: black;
      height: 2px;
      margin: auto;
      border: none; }
    .skills-container .skills ul {
      max-width: 950px;
      margin: 50px auto;
      width: 100%;
      display: inline-block; }
      .skills-container .skills ul li {
        display: inline-block;
        text-align: center;
        border: 1px solid black;
        border-radius: 50px;
        padding: 10px 25px;
        margin: 12px 10px; }
        .skills-container .skills ul li:hover {
          background-color: black;
          color: white;
          transition: .2s ease;
          font-weight: bold;
          cursor: grab; }
        .skills-container .skills ul li img {
          height: 254px;
          width: 254px; }
        .skills-container .skills ul li p a, .skills-container .skills ul li p a:active {
          text-decoration: underline;
          color: inherit; }

.mail {
  display: none; }

.checkbox {
  display: none; }

.button {
  position: relative;
  background-color: white;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 5vh;
  right: 5vw;
  z-index: 2000;
  box-shadow: 0 1rem 4rem white;
  text-align: center;
  cursor: pointer; }

.background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 5.5vh;
  right: 5.5vw;
  background-color: #7fd4a4;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s; }

.list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.item {
  margin: 1rem;
  font-size: 36px; }

.link:link,
.link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all 0.4s; }

.link:hover,
.link:active {
  color: lightgreen;
  cursor: pointer; }

/* functionality */
.checkbox:checked ~ .background {
  transform: scale(80); }

.checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
  right: 0; }

/*  */
/* styling hamb ICON */
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.icon,
.icon::before,
.icon::after {
  width: 3rem;
  height: 2px;
  background-color: gray;
  display: inline-block; }

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s; }

.icon::before {
  top: -0.8rem; }

.icon::after {
  top: 0.8rem; }

.button:hover icon:before {
  top: -1rem; }

.button:hover icon::after {
  top: 1rem; }

.checkbox:checked + .button .icon {
  background-color: transparent; }

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg); }

.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg); }

/*# sourceMappingURL=main.css.map */
